/* page */
body {
    background-color: #C2A887;
    font-family: 'Open Sans';font-size: 18px;
/*     min-height: 100vh; */
    margin-bottom: 60px;
}

/* header */
.home-header {
    margin: 0px 0px 0px 5px;
    text-align: center;
}

/* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #6D152B;
}
  
li {
    display: block;
    color: white;
    text-align: center;
    size: 10px;
    float: left;
    text-decoration: none;
}

a.link-space {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s;
}

li a:active {
    color: black;
}

li a:visited {
    color:wheat;
}

li a:hover {
    background-color: #C2A887;
    text-decoration: none;
    font-size: 19px;
}

/* content */
div.outer {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    margin-top: 50px;
}

div.inner {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

article.intro {
    border: 2px solid black;
    margin: 20px 20px 20px 20px;
    padding: 40px;
    width: 200px;
}

p.text {
    text-transform: uppercase;
    text-align: center;
    font-size: small;
}

img.home-img {
    /* float: right; */
    height: 250px;
    width: 250px;
}

/* footer */
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 60px;
    background-color: #6D152B;
}

.footer-text-left {
    font-size:18px;
    padding-left:40px;
    float:left;
    word-spacing:20px;
    text-decoration: none;
}

.footer-text-right {
    font-size:18px;
    padding-right:40px;
    float:right;
    word-spacing:20px;
    text-decoration: none;
}
  
a.menu:hover {
    background-color: #937754;
    transition: 0.5s;
    font-size: 19px;
}

a.menu:link {
    text-decoration: none;
    color: #C2A887;
}

a.menu:visited {
    text-decoration: none;
    color: #C2A887;
}
