body {
    background-color: #C2A887;
    font-family: 'Open Sans';font-size: 18px;
    margin-bottom: 60px;
}

#formStyle {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-top: 10%;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    width: 75%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:focus {
    background-color: #DFAF5E;
}

#submit {
    width: 25%;
    font-size: large;
}

#submit:hover {
    background-color: #DFAF5E;
}

#registerAni {
    width: 70px;
    height: 70px;
    float: none;
}

/* footer */
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 60px;
    background-color: #6D152B;
}

.footer-text-left {
    font-size:18px;
    padding-left:40px;
    float:left;
    word-spacing:20px;
    text-decoration: none;
}

.footer-text-right {
    font-size:18px;
    padding-right:40px;
    float:right;
    word-spacing:20px;
    text-decoration: none;
}

a.menu {
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
}

a.menu:active {
    color: black;
}

a.menu:visited {
    color:wheat;
}

a.menu:hover {
    text-decoration: none;
    transition: 0.5s;    
    color: black;
    letter-spacing: 1px;
}