body {
    background-color: #C2A887;
    font-family: 'Open Sans';font-size: 18px;
	height: 100vh;
}

/* Reading Window */
div.book-window {
    margin: 0px 100px 0px 100px;
    text-align: center;
    height: inherit;
}

embed {
    height: 95vh;
}

/* footer */
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 60px;
    background-color: #6D152B;
}

.footer-text-left {
    font-size:18px;
    padding-left:40px;
    float:left;
    word-spacing:20px;
    text-decoration: none;
}

.footer-text-right {
    font-size:18px;
    padding-right:40px;
    float:right;
    word-spacing:20px;
    text-decoration: none;
}

a.menu {
    text-decoration: none;
    transition: 0.5s;
}

a.menu:active {
    color: black;
}

a.menu:visited {
    color:wheat;
}

a.menu:hover {
    text-decoration: none;
    transition: 0.5s;    
    color: black;
    letter-spacing: 1px;
}